*{margin:0;
padding:0;
box-sizing: border-box;}
 
main {display: flex;
   
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: row;
margin-left: 5rem;
margin-right: 5rem;

}
body {background-color: hsl(0, 0%, 95%);}

.first {background-color: hsl(31, 77%, 52%);
padding: 2rem;}
.second {background-color: hsl(184, 100%, 22%);
padding: 2rem;}
.third {background-color: hsl(179, 100%, 13%);
padding: 2rem;}
.free {padding-left: 0.55rem;
    border-radius: 15px;
    padding-right: 0.55rem;
    padding-top: 0.29rem;
    padding-bottom: 0.39rem;
   
    margin-top: 3.5rem;
background-color: hsl(0, 0%, 95%);}


.together {color:hsl(0, 0%, 95%);
margin-top: 2rem;
font-size: 30px;}


.paragraph {color: hsla(0, 0%, 100%, 0.75);
margin-top: 2rem;}
#best {color: hsl(179, 100%, 13%);
}
#better {color:hsl(184, 100%, 22%)}
#good {color:hsl(31, 77%, 52%)}